/*
Creator: C. R. Oberembt
Date created: 01/19/2019
Date last modified: 01/21/2019
*/

header, footer {
  background-color: DimGray;
  color: Black;
  font-family: 'Rubik', sans-serif;
  padding: 20px 10px 20px 10px
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: SlateGrey;
}

h1 {
  text-align: center;
  padding: 20px 10px 20px 10px;
  font-family: 'Staatliches', cursive;
}

nav {
  background-color: DimGray;
  padding: 20px 10px 20px 10px;
}

#bootstrap-overrides .nav-link {
}

#bootstrap-overrides a {
  color: Red;
}

#bootstrap-overrides a:active {
  text-decoration: none;
}

#bootstrap-overrides a:hover {
  font-weight: bold;
}

#bootstrap-overrides a:visited {
  color: #0d2618;
}
